.Pixelify {
  font-family: "Pixelify Sans", cursive;
  color: rgb(3, 172, 54);
}

.Spooky {
  font-family: "Permanent Marker", cursive;
  color: orangered;
}

body {
  padding-left: 50px;
  padding-right: 50px;
  border: 5px solid rgb(231, 18, 18);
  margin-left: 450px;
  margin-right: 450px;
  background-color: black;
}

.Arcane {
  font-family: "Spectral", serif;
  color: blueviolet;
}

.Teal {
  color: aqua;
}

html {
  background-image: url(img/Witcher.jpg);
}
